body {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #fcfcfc;

  * {
    font-weight: 200 !important;
  }
}

div.app {
  height: 100vh;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;

  .page-title {
    line-height: 122px;
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: 600 !important;
  }
}

.main-row {
  width:100%;
}

.preloader-wrapper {
  position: absolute;
  margin: -32px -24px;

  top: 50%;
  z-index: 9999;

  @media screen and (max-width:600px) {
    margin-top:15px;
  }
}

.fade {
  opacity: 1;
  transition: opacity 0.4s;
}

.faded {
  opacity: 0;
}

.hidden {
  display: none;
}

.preview-shirt {
  background-position: center;
  display: inline-block;
  // height: 100%;
  width: 100%;
  background-size: 50%, contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-background-blend-mode: multiply;

  transition: background-size 0.4s;

  img {
    opacity: 0;
    visibility: hidden;
  }
}

input[type="checkbox"]:checked ~ .preview-shirt {
  background-size: contain, 0%;
}

.logo {
  height: 66px;
  margin-top: 24px;
  padding-right: 0.25em;
  margin-left: -46px;
}

.card {
  overflow:visible;
}